<h1><%= @restaurant.name %></h1>
<br>
<h1><%= @restaurant.description %></h1>
<br>
<% if current_user && Permission.new(current_user).can_edit_restaurant?(@restaurant) %>
  <h2><%= link_to "Edit", edit_restaurant_path(@restaurant) %></h2>
  <h2><%= link_to "Create Item", new_restaurant_item_path(@restaurant) %></h2>
<% end %>
<% @restaurant.items.each do |item| %>
  <div class="thumbnail col-sm-6 col-md-4">
    <%= link_to (image_tag item.image.url(:medium)), item_path(item) %>
    <div class="caption">
      <h3 class="shadow"><%= item.title %></h3>
      <p class="shadow"><%= item.description %></p>
      <p id="price" class="shadow"> Price:$<%= item.price %></p>
      <p><%= link_to "Add to Cart", cart_items_path(item: item), method: :post, class: "btn btn-default add-to-cart", role: "button" %></p>
    </div>
  </div>
<%end%>

