<div class="container sidenav col-md-3 affix">
  <ul class="nav nav-pills nav-stacked sidenav-list" id="sidebar">
    <% @restaurant.categories.each do |category| %>
      <li class="menu-link shadow"><%= link_to category.name, restaurant_category_path(@restaurant, category) %></li>
    <% end %>
  </ul>
</div>
<br>
<div id="rest-show">
  <h1>Welcome to <%= @restaurant.name %>!</h1>
  <h1><%= @restaurant.description %></h1>
  <% if @restaurant.owner %>
    <h1>Owned By: <%= @restaurant.owner %></h1>
  <% end %>
  <% if current_user && current_user.verify?("owner", @restaurant) || current_user.verify?("cook", @restaurant) ||  current_user.verify?("deliverer", @restaurant) %>
    <h3 class="link"><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %></h3>
    <h3 class="link"><%= link_to "Create Item", new_restaurant_item_path(@restaurant) %></h3>
    <h3 class="link"><%= link_to "Categories", restaurant_categories_path(@restaurant) %></h3>
    <h3 class="link"><%= link_to "Orders", restaurant_orders_path(@restaurant) %></h3>
    <h3 class="link"><%= link_to "Add User", new_user_role_path(restaurant_id: @restaurant.id) %></h3>
  <% end %>
  <% @restaurant.categories.each do |cat| %>
    <% if cat.items.count > 0 %>
      <div id="category<%= cat.name %>">
        <div id="category-block">
          <div id="header">
            <h2><%= cat.name %></h2>
          </div>
          <% cat.items.each do |item| %>
            <div class="<%= item.title %> thumbnail col-sm-6 col-md-4">
              <div id="inner-block">
                <%= link_to (image_tag item.image.url(:medium)), restaurant_item_path(@restaurant, item) %>
                <div class="caption">
                  <h3 class="shadow"><%= item.title %></h3>
                  <p class="shadow"><%= item.description %></p>
                  <p class="shadow"><%= item.categories.pluck(:name).join(", ") %></p>
                  <p id="price" class="shadow"> Price:$<%= item.price %></p>
                  <p><%= link_to "Add to Cart", cart_items_path(item: item), method: :post, class: "btn btn-default add-to-cart", role: "button" %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
