<div class="edit-form">
  <% @restaurant_orders.each do |rest_order| %>
    <% all_items = rest_order.order_items.map { |oi| oi.item } %>

    <% grouped_rest_orders = rest_order.order_items.group_by(&:restaurant_id) %>
    <% grouped_rest_orders.each do |resto_id, order_items| %>
      <% if resto_id %>
        <h3>Status: <%= rest_order.status %></h3>
        <%= link_to "Mark as Paid", edit_restaurant_order_path(rest_order.restaurant, rest_order, restaurant_order: {status: 'pay'}), methods: 'put' if rest_order.may_pay? %> <br>
        <%= link_to "Mark as Completed", edit_restaurant_order_path(rest_order.restaurant, rest_order, restaurant_order: {status: 'complete'}), methods: 'put' if rest_order.may_complete? %> <br>
        <%= link_to "Mark as Cancelled", edit_restaurant_order_path(rest_order.restaurant, rest_order, restaurant_order: {status: 'cancel'}), methods: 'put' if rest_order.may_cancel? %> <br><br><br>

        <table class="table table-hover">
          <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>User</th>
            <th>Item Subtotal</th>
          </thead>
          <tbody>
            <% items = order_items.map { |oi| oi.item } %>
            <% items.uniq.each do |item| %>
              <tr class="cart_item cart_item_<%= item.id %>">
                <td class="title"><%=link_to item.title, item_path(item) %></td>
                <td class="price">$<%= item.price %></td>
                <td class="quantity">
                  <div class="float_left"><%= (rest_order.subtotal(item)/item.price).to_i %></div>
                </td>
                <td class="user"><%= rest_order.order_items.last.order.user.name %></td>
                <td class="subtotal">$<%= rest_order.subtotal(item) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    <% end %>
    <% unless all_items.uniq.map { |item| rest_order.subtotal(item) }.inject(:+).to_i == 0 %>
      Grand Total: $<%= all_items.uniq.map { |item| rest_order.subtotal(item) }.inject(:+).to_i %>
  <% end %>
  <br>
<% end %>
</div>

